<!DOCTYPE html>
<html>
<head>
<title>The Game of War</title>

<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />

<%= stylesheet_link_tag "global" %>
<%= javascript_include_tag "global" %>

</head>

<body>
	<div id="header">
		<h1>WAR!!!</h1>
		<form action="/deck/new">
			<button type="submit" >New game</button>
		</form>
	</div>
	
	
		<%= yield -%>


</body>
</html>